<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutb PAge</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/add-student">About</a>
    <div align="center">
        <h2>Edit Student Details</h2>
        <form action="/edit-student/<%= record.id %>" method="post" >
            <table>
                <tr>
                    <td>Id:</td>
                    <td><input type="number" name="id" value="<%= record.id %>" disabled/></td>
                </tr>
                <tr>
                    <td>FullName:</td>
                    <td><input type="text" name="name" value="<%= record.name %>" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" value="<%= record.email %>" /></td>
                </tr>
                <tr>
                    <td>Course:</td>
                    <td><input type="text" name="course" value="<%= record.course %>" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Update Student" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>